# Atmel SAMC MCU series

# Copyright (c) 2017 Google LLC.
# SPDX-License-Identifier: Apache-2.0

choice
	prompt "Atmel SAMC21 MCU Selection"
	depends on SOC_SERIES_SAMC21

config SOC_PART_NUMBER_SAMC21E15A
	bool "SAMC21E15A"

config SOC_PART_NUMBER_SAMC21E16A
	bool "SAMC21E16A"

config SOC_PART_NUMBER_SAMC21E17A
	bool "SAMC21E17A"

config SOC_PART_NUMBER_SAMC21E18A
	bool "SAMC21E18A"

config SOC_PART_NUMBER_SAMC21G15A
	bool "SAMC21G15A"

config SOC_PART_NUMBER_SAMC21G16A
	bool "SAMC21G16A"

config SOC_PART_NUMBER_SAMC21G17A
	bool "SAMC21G17A"

config SOC_PART_NUMBER_SAMC21G18A
	bool "SAMC21G18A"

config SOC_PART_NUMBER_SAMC21J15A
	bool "SAMC21J15A"

config SOC_PART_NUMBER_SAMC21J16A
	bool "SAMC21J16A"

config SOC_PART_NUMBER_SAMC21J17A
	bool "SAMC21J17A"

config SOC_PART_NUMBER_SAMC21J18A
	bool "SAMC21J18A"

endchoice
