# Copyright (c) 2025 NDR Solution (Thailand)
#
# SPDX-License-Identifier: Apache-2.0

config SOC_FLASH_S32K3
    bool "NXP S32K3 C40 flash driver"
    default y
    depends on DT_HAS_NXP_S32K3_C40_ENABLED
    select FLASH_HAS_DRIVER_ENABLED
    select FLASH_HAS_PAGE_LAYOUT
    help
      Enable NXP S32K3 C40 internal flash driver
