# Copyright (c) 2025 STMicroelectronics
# SPDX-License-Identifier: Apache-2.0

config SDHC_STM32_V2
	bool "STM32 SDHC Driver V2"
	default y
	depends on DT_HAS_ST_STM32_SDHC_V2_ENABLED
	select SDHC_SUPPORTS_NATIVE_MODE
	select USE_STM32_LL_SDMMC
	select PINCTRL
	help
	  Enables the STM32 SD Host controller driver

if SDHC_STM32_V2

# STM32 DMA needs 32 bit aligned buffers
config SDHC_BUFFER_ALIGNMENT
	default 4

config SDHC_STM32_HWFC_V2
	bool "STM32 SDMMC Hardware Flow control"
	depends on SOC_SERIES_STM32H5X || \
		   SOC_SERIES_STM32H7X || \
		   SOC_SERIES_STM32F7X || \
		   SOC_SERIES_STM32L4X || \
		   SOC_SERIES_STM32L5X
	help
	  Enable SDMMC Hardware Flow Control to avoid FIFO underrun (TX mode) and
	  overrun (RX mode) errors.

endif
